<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="PT">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/static/css/main.css" type="text/css">
	<script src="/static/js/bootstrap.min.js"></script>
	<title>{% block title %}Portal do Voluntário{% endblock %}</title>

</head>
<body>
	{% block header %}
	<div class="navbar navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<div class="brand"><img src="/static/images/cruz.png" width="20px" style="margin-top: -5px"/>&nbsp;Cruz Vermelha</div>
				<ul class="nav pull-right">
					<li><a href="#"><i class="icon-user"></i>{{ request.user.username }}</a></li>
					<li><a href="/logout"><i class="icon-eject"></i>Logout</a></li>
				</ul>
			</div>
		</div>
	</div>


	{% endblock %}
	<div class="container">
		<div class="row">
			{% block side_nav %}
			<div class="span3">
				<div class="well" style="padding: 8px 0">
					<ul class="nav nav-list">

						<li class="nav-header">Geral</li>
						<li><a href="/avisos">Aviso</a></li>
						<li><a href="/contactos">Contactos</a></li>

						<li class="nav-header">Calendário</li>
						<li><a href="#">Turnos</a></li>
						<li><a href="#">Buracos</a></li>
						<li><a href="#">Trocas</a></li>
						<li><a href="#">Escalas</a></li>

						<li class="nav-header">Administração</li>
						<li><a href="/admin">Autorização de Trocas</a></li>
						<li><a href="/admin">Gerir Avisos</a></li>
						<li><a href="/admin">Gerir Escalas de Apoio</a></li>
						<li><a href="/admin">Gerir Escalas de INEM</a></li>
						<li><a href="/admin">Gerir Utilizadores</a></li>
					</ul>
				</div>
			</div>
			{% endblock %}
			{% block content_container %}
			<div class="offset1 span8">
			{% block content %}{% endblock %}
			</div>
			{% endblock %}
		</div>
		<div class="row">
			<div class="span12">
				{% block footer %}{% endblock %}
			</div>
		</div>
	</div>

</body>
</html>