{% extends "base_template.html" %}

{% block content %}

{% if contactos %}
<table class="table table-hover">
	<tr>
		<th>Nome</th>
		<th>Telefone 1</th>
		<th>Telefone 2</th>
		<th>Mail</th>
	</tr>
	{% for contacto in contactos %}
	<tr>
		<td><a href="/contactos/{{ contacto.id }}/">{{ contacto.nome }}</a><td>
			<td>{{ contacto.telefone }}</td>
			<td>{{ contacto.telefone2 }}</td>
			<td>{{ contacto.email }}</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p>Ainda não há voluntários.</p>
	{% endif %}


<!--<H2>Pretos</H2>
<table class="table table-hover">
	<tr>
	<th></th>
	<th>Telefone 1</th>
	<th>Telefone 2</th>
	<th>Mail</th>
</tr>
<tr>	
	<td>Nome nome nome</td>
	<td>910000000</td>
	<td>931212122</td>
	<td>mail@mail.com</td>
		</tr>
<tr>	
	<td>Nome nome nome</td>
	<td>910000000</td>
			<td>931212122</td>
	<td>mail@mail.com</td>
				</tr>
<tr>	
	<td>Nome nome nome</td>
	<td>910000000</td>
	<td>931212122</td>
	<td>mail@mail.com</td>
</tr>
</table>
<H2 style="color:green;">Verdes</H2>

<table class="table table-hover">
	<tr>
	<th>Nome</th>
	<th>Telefone 1</th>
	<th>Telefone 2</th>
	<th>Mail</th>
</tr>
<tr>	
	<td>Nome nome nome</td>
	<td>910000000</td>
	<td>931212122</td>
	<td>mail@mail.com</td>
		</tr>
<tr>	
	<td>Nome nome nome</td>
	<td>910000000</td>
			<td>931212122</td>
	<td>mail@mail.com</td>
				</tr>
<tr>	
	<td>Nome nome nome</td>
	<td>910000000</td>
	<td>931212122</td>
	<td>mail@mail.com</td>
</tr>
</table>-->

{% endblock %}
