<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="PT">
	<link rel="stylesheet" href="static/css/main.css" type="text/css">
	<title>Portal do Voluntário</title>

</head>

<body>
	<div id="main">

		<div id="header" style="height: 125px">
			<div class="left" style="float: left">
				<img src="static/images/cruz.png" width="130px" height="125px">
			</div>
			<div class="right">
				<div class="right header_text"><a href="">Logout</a></div>
				<div class="right header_text" style="margin-right: 300px">Nome da Pessoa</div>
			</div>
			
		</div>
		<div style="height: 30px; clear:both"></div>

		<div id="container">

			<div class="menu">

				<a href="about.html">
					<div class="menuGroupTitle">
						<b>Cruz Vermelha - Coimbra</b>
					</div>
				</a>

				<div class="menuGroup">
					<div class="menuItem">
						<div class="menuItemTitle">
							Geral
						</div>
						<div class="popup">
							<a href="../util/menu.do?menu=5">
								<div id="menu_5">
									Avisos
								</div>
							</a>
							<a href="../util/menu.do?menu=32">
								<div id="menu_32">
									Contactos
								</div>
							</a>
						</div>
					</div>

					<div class="menuItem">
						<div class="menuItemTitle">
							Calendário
						</div>
						<div class="popup">
							<a href="../util/menu.do?menu=20">
								<div id="menu_20">
									Turnos
								</div>
							</a>
							<a href="../util/menu.do?menu=25">
								<div id="menu_25">
									Buracos
								</div>
							</a>
							<a href="../util/menu.do?menu=21">
								<div id="menu_21">
									Trocas
								</div>
							</a>
							<a href="../util/menu.do?args=5fe85b10fb3fed53dbebedddeb31e570">
								<div id="menu_24">
									Escalas
								</div>
							</a>
						</div>
					</div>

					<div class="menuItem">
						<div class="menuItemTitle">
							Administração
						</div>
						<div class="popup">
							<a href="../util/menu.do?menu=11">
								<div id="menu_11">
									Autorização de trocas
								</div>
							</a>
							<a href="../util/menu.do?menu=7">
								<div id="menu_7">
									Gerir Avisos
								</div>
							</a>
							<a href="../util/menu.do?menu=2">
								<div id="menu_2">
									Gerir escalas de Apoio
								</div>
							</a>
							<a href="../util/menu.do?menu=9">
								<div id="menu_9">
									Gerir escalas de INEM
								</div>
							</a>
							<a href="../util/menu.do?menu=22">
								<div id="menu_22">
									Gerir utilizadores
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="box" style="float: right">
				<div class="menu">

					<a href="about.html">
						<div class="menuGroupTitle">
							<b>Avisos</b>
						</div>
					</a>

					<div class="menuGroup">
						<div class="menuItem">
							<div class="menuItemTitle">
								Geral
							</div>
							<div class="popup">
								<a href="../util/menu.do?menu=5">
									<div id="menu_5">
										Avisos
									</div>
								</a>
								<a href="../util/menu.do?menu=32">
									<div id="menu_32">
										Contactos
									</div>
								</a>
							</div>
						</div>

						<div class="menuItem">
							<div class="menuItemTitle">
								Calendário
							</div>
							<div class="popup">
								<a href="../util/menu.do?menu=20">
									<div id="menu_20">
										Turnos
									</div>
								</a>
								<a href="../util/menu.do?menu=25">
									<div id="menu_25">
										Buracos
									</div>
								</a>
								<a href="../util/menu.do?menu=21">
									<div id="menu_21">
										Trocas
									</div>
								</a>
								<a href="../util/menu.do?args=5fe85b10fb3fed53dbebedddeb31e570">
									<div id="menu_24">
										Escalas
									</div>
								</a>
							</div>
						</div>

						<div class="menuItem">
							<div class="menuItemTitle">
								Administração
							</div>
							<div class="popup">
								<a href="../util/menu.do?menu=11">
									<div id="menu_11">
										Autorização de trocas
									</div>
								</a>
								<a href="../util/menu.do?menu=7">
									<div id="menu_7">
										Gerir Avisos
									</div>
								</a>
								<a href="../util/menu.do?menu=2">
									<div id="menu_2">
										Gerir escalas de Apoio
									</div>
								</a>
								<a href="../util/menu.do?menu=9">
									<div id="menu_9">
										Gerir escalas de INEM
									</div>
								</a>
								<a href="../util/menu.do?menu=22">
									<div id="menu_22">
										Gerir utilizadores
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="menu" style="float:right">

					<a href="about.html">
						<div class="menuGroupTitle">
							<b>Avisos</b>
						</div>
					</a>

					<div class="menuGroup">
						<div class="menuItem">
							<div class="menuItemTitle">
								Geral
							</div>
							<div class="popup">
								<a href="../util/menu.do?menu=5">
									<div id="menu_5">
										Avisos
									</div>
								</a>
								<a href="../util/menu.do?menu=32">
									<div id="menu_32">
										Contactos
									</div>
								</a>
							</div>
						</div>

						<div class="menuItem">
							<div class="menuItemTitle">
								Calendário
							</div>
							<div class="popup">
								<a href="../util/menu.do?menu=20">
									<div id="menu_20">
										Turnos
									</div>
								</a>
								<a href="../util/menu.do?menu=25">
									<div id="menu_25">
										Buracos
									</div>
								</a>
								<a href="../util/menu.do?menu=21">
									<div id="menu_21">
										Trocas
									</div>
								</a>
								<a href="../util/menu.do?args=5fe85b10fb3fed53dbebedddeb31e570">
									<div id="menu_24">
										Escalas
									</div>
								</a>
							</div>
						</div>

						<div class="menuItem">
							<div class="menuItemTitle">
								Administração
							</div>
							<div class="popup">
								<a href="../util/menu.do?menu=11">
									<div id="menu_11">
										Autorização de trocas
									</div>
								</a>
								<a href="../util/menu.do?menu=7">
									<div id="menu_7">
										Gerir Avisos
									</div>
								</a>
								<a href="../util/menu.do?menu=2">
									<div id="menu_2">
										Gerir escalas de Apoio
									</div>
								</a>
								<a href="../util/menu.do?menu=9">
									<div id="menu_9">
										Gerir escalas de INEM
									</div>
								</a>
								<a href="../util/menu.do?menu=22">
									<div id="menu_22">
										Gerir utilizadores
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
