{% extends "base_template.html" %}

{% block content %}

<div class="row">

<div class="span4">
	<div class="well">
		<h3>Avisos</h3>
		{% if avisos %}
			<ul>
			{% for aviso in avisos %}
				<li><a href="#">{{ aviso.titulo }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			Ainda não há avisos
		{% endif %}
	</div>
</div>


<div class="span4">
	<div class="well">
		<h3>Turnos</h3>
		{% if turnos %}
			<ul>
			{% for turno in turnos %}
				<li><a href="#">{{ turno }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			Ainda não há turnos
		{% endif %}
	</div>
</div>
</div>
<div class="row">
<div class="span8">
	<div class="well">
		<h3>Buracos</h3>
		{% if buracos %}
			<ul>
			{% for buraco in buracos %}
				<li><a href="#">{{ buraco }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			Ainda não há buracos
		{% endif %}
	</div>

</div>
</div>


{% endblock %}
