{% extends "base_template.html" %}

{% block content %}

<div class="span3">
	<div class="well" style="padding: 8px 0">
		<ul class="nav nav-list">

			<li class="nav-header">Geral</li>
			<li><a href="../util/menu.do?menu=5">Aviso</a></li>
			<li><a href="../util/menu.do?menu=5">Contactos</a></li>

			<li class="nav-header">Calendário</li>
			<li><a href="../util/menu.do?menu=5">Turnos</a></li>
			<li><a href="../util/menu.do?menu=5">Buracos</a></li>
			<li><a href="../util/menu.do?menu=5">Trocas</a></li>
			<li><a href="../util/menu.do?menu=5">Escalas</a></li>

			<li class="nav-header">Administração</li>
			<li><a href="/admin">Autorização de Trocas</a></li>
			<li><a href="/admin">Gerir Avisos</a></li>
			<li><a href="/admin">Gerir Escalas de Apoio</a></li>
			<li><a href="/admin">Gerir Escalas de INEM</a></li>
			<li><a href="/admin">Gerir Utilizadores</a></li>
		</ul>
	</div>
</div>

{% endblock %}
