{% extends "base_template.html" %}

{% block header %}{% endblock %}

{% block content %}
		<img id="cruz" src="static/images/cruz.png" style="margin-bottom: 20px"/>
		<h2 style="margin-bottom: 20px">Portal do Voluntário</h2>
		<!--<h4 style="margin-bottom: 20px">Login</h4>-->
		<div id="login">
			<div id="login_top"><center>Login and Register</center></div>
			<form id="logintable" action="login" method="post">
				{%csrf_token%}
				<div style="width: 60%; margin:0 auto">
					<center>
						<input type="text" name="username" placeholder="Nome"/>
						<input type="password" name="password" placeholder="Password"/>
						<input type="submit" value="Entrar" class="btn"/>
					</center>
				</div>
			</form>
			<div id="login_bottom">
				<center><a href="">Esqueci-me da Password!</a></center>
			</div>
		</div>

{% endblock %}
