
<style>
H2{
text-align: center;
}

td, th {
  border: solid 1px black;
  text-align: center;
  min-width:150px;
}

div.turnos{
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    min-height: 10em;
    vertical-align: middle ;
}
</style>

<!DOCTYPE html>
<html>
<body>

<H2>Turnos INEM</H2>

<div class="turnos">
<table>
  <tr>
    <th>Data</th>
    <th>Hora</th>
    <th>Local</th>
  </tr>
  <tr>
    <td>14 Janeiro 2013</td>
    <td>00:00/08:00</td>
    <td>INEM-HUC</td>
  </tr>
  <tr>
    <td>15 Janeiro 2013</td>
    <td>08:00/16:00</td>
    <td>INEM-HUC</td>
  </tr>

</table>


<H2>Turnos Apoio</H2>
<div class="turnos">
<table>
  <tr>
    <th>Data</th>
    <th>Hora</th>
    <th>Local</th>
  </tr>
  <tr>
    <td>14 Janeiro 2013</td>
    <td>08:30/12:30</td>
    <td>Torneio de Judo - Casal da Misarela</td>
  </tr>
  <tr>
    <td>15 Janeiro 2013</td>
    <td>16:00/18:00</td>
    <td>Torneio de Judo - Casal da Misarela II</td>
  </tr>

</table>

</body>
</html>
